/* Pittsburgh Highland Games - Charles Gross Final Project
http://www.hicksdesign.co.uk/else/cssnav/index.html  */

/*Type selectors*/
article, aside, body, dd, div, dl, dt, figcaption, figure, footer, h1, h2, h3, li, nav, ol, p, section, table, th, td, ul {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    background: url("images/blackwatchtartan.jpg");
    background-repeat: repeat;
    color: #747474;
    font: 13px/20px 'PTSansRegular', Arial, Helvetica, sans-serif; /*change this to em*/
    /* min-width: 320px; not supported on ie8, firefox 4, opera 11 and safari 5*/
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: #333;
}

a:visited {
    color: #333;
}

a:hover {
    color: #a0ce4e;
}

a:active {
    color: #a0ce4e;
}
/*End Type selectors*/


/*ID selectors*/
#wrapper {
    width: 864px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    position: relative;
}

#header {
    padding: 30px 0;
    text-align: center;
}

#footer {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    text-align: center;
    border-top: 1px solid #bbb;
    padding: 10px 0;
    font-size: 11px;
}

#navbar {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    /*width: 95%;*/
    padding: 10px 0;
}

#navbar li {
        display: inline;
        list-style-type: none;
        padding: 2em;
}

#mainnav a:link {
    color: #333;
    text-decoration: none;
}

#mainnav a:visited {
    color: #333;
    text-decoration: none;
}

#mainnav a:hover {
    color: #a0ce4e;
    text-decoration: underline;
}

#mainnav a:active {
    color: #a0ce4e;
    text-decoration: underline;
}
/*End ID selectors*/

/*Class selectors*/
#footer p.left {
    float: left;
}

#footer p.right {
    float: right;
}

/*End Class selectors*/

