/* Pittsburgh Highland Games - Charles Gross Final Project  */

/*Font faces*/
@font-face {
    font-family: 'CinzelDecorativeRegular';
    src: url('fonts/CinzelDecorative-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CinzelDecorativeBold';
    src: url('fonts/CinzelDecorative-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArimoRegular';
    src: url('fonts/Arimo-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/*End Font faces*/
/*Type selectors*/
article, aside, body, dd, div, dl, dt, figcaption, figure, footer, h1, h2, h3, li, nav, ol, p, section, table, th, td, ul {
    margin: 0;
    padding: 0;
}

section {
    margin-bottom: 20px;
}

body {
    background: #ffffff;
    background: url("images/blackwatchtartan.jpg");
    /*background: url("images/macleod.png");*/
    background-repeat: repeat;
    color: #747474;
    font-size: 13px; /*change this to em*/
    font-family: ArimoRegular, Arial, Helvetica, sans-serif;
    /* min-width: 320px; not supported on ie8, firefox 4, opera 11 and safari 5*/
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    font-family: CinzelDecorativeBold, georgia, "times new roman", times, serif;
}

a:link {
    color: #333;
}

a:visited {
    color: #333;
}

a:hover {
    color: #a0ce4e;
}

a:active {
    color: #a0ce4e;
}
/*End Type selectors*/


/*ID selectors*/
#wrapper {
    width: 864px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    position: relative;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
}

#header {
    padding: 30px 0;
    text-align: center;
}

#footer {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    text-align: center;
    border-top: 1px solid #bbb;
    padding: 10px 0 0 0;
    font-size: 11px;
}

#navbar {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    /*width: 95%;*/
    padding: 10px 0;
    font-family: CinzelDecorativeBold, georgia, "times new roman", times, serif;
}

    #navbar li {
        display: inline;
        list-style-type: none;
        padding: 1em;
    }

#mainnav a:link {
    color: #333;
    text-decoration: none;
}

#mainnav a:visited {
    color: #333;
    text-decoration: none;
}

#mainnav a:hover {
    color: #a0ce4e;
    text-decoration: underline;
}

#mainnav a:active {
    color: #a0ce4e;
    text-decoration: underline;
}

#footer p.left {
    float: left;
}

#footer p.right {
    float: right;
}
/*End ID selectors*/

/*Class selectors*/
.pagecontent {
    margin: 25px;
}

.caption {
    font-style: italic;
}

.twitter-widget {
    width: 100px;
    vertical-align: top;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

.column {
    display: inline-block;
}
/*End Class selectors*/

